* {
	box-sizing:border-box;
}
a {
	text-decoration:none;
}
body {
	font-family:Verdana;
	margin:0;
}
h1, h2, p {
	margin:0;
}
header, main, footer {
	padding:10px;
}
li {
	list-style-type:none;
}
ul {
	margin:0;
	padding:0;
}